<?php
/* Password encryption:
    'rcmail': encrypt passwords by default Roundcube methods.
    'secure': encrypt passwords by using the IMAP password as encryption key.
              NOTE: When using 'secure' encryption, If IMAP passwords are changed
              using methods other than Roundcube Webmail interface
              (hmail_password or password plugin) then IMAP server identities
              passwords must be re-entered by users.
*/
$rcmail_config['identities_imap_crypt'] = 'rcmail';

/* password encryption salt (only used for secure encryption) */
$rcmail_config['identities_imap_salt'] = '!kQm*fF3pXe1Kbm%9';

/* predefined imap hosts (associated with the domain part of the identity email property) */
$rcmail_config['identities_imap_external'] = array(
  'gmail.com' => array(
    'host' =>'ssl://imap.gmail.com:993',
    'delimiter' => '/',
    'readonly' => true, // on match prevent field editing
  ),
  'googlemail.com' => array(
    'host' =>'ssl://imap.gmail.com:993',
    'delimiter' => '/',
    'readonly' => true, // on match prevent field editing
  ),
  'freenet.de' => array(
    'host' =>'mx.freenet.de',
    'delimiter' => '.',
    'readonly' => false, // on match prevent field editing
  ),
);

$rcmail_config['identities_imap_internal'] = array(
  'mydomain.tld' => array(
    'host' =>'ssl://imap.mydomain.tld:993',
    'delimiter' => '/',
    'readonly' => true, // on match prevent field editing
  ),
);

/* auto-detect IMAP server */
$rcmail_config['identities_imap_autodetect'] = false;
?>